/*CSS File*/

/*VARIABLES*/
:root
{
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --gray: #6B7280;
  --light: #EEE;
  --pink: #EC4899;
  --purple: #8B5CF6;
}

/*Style*/
*{
  box-sizing: border-box;
  margin: 0;
  font-family:'Segoe UI';
}

body{
  display:flex;
  flex-direction: column;
  background: var(--dark);
  color: #FFF;
}

header
{
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  background-color: red;
}

header h1 
{
  font-size: 3rem;
  font-weight:300;
  margin-bottom: 1rem;
}

#add-list-item
{
  display: flex;

}

input, button
{
  appearance: none;
  border: none;
  outline: none;
  background: none;

}

#todo-input
{
  flex: 1 1 0%;
  background-color: var(--darker);
  padding: 1rem;
  border-radius: 2rem;
}


/*Screen reader text utility class*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
