/*CSS File*/

/*VARIABLES*/
:root
{
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --gray: #6B7280;
  --light: #EEE;
  --pink: #EC4899;
  --purple: #8B5CF6;
  --normalRed: #be2105;
  --brightRed: #f32400;
  --darkRed: #881400;
}

/*Style*/
*{
  box-sizing: border-box;
  margin: 0;
  font-family:'Segoe UI';
}

body
{
  display:flex;
  flex-direction: column;
  background: var(--dark);
  color: #FFF;
}

header
{
  display: flex;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  flex-direction: column;
  text-align: center;
  max-width: 100%;
  /*background-color: red;*/
}

/*Todo list title*/
header h1 
{
  font-size: 3rem;
  font-weight:300;
  margin-bottom: 1rem;
}

/*Add a todo item*/
#add-list-item
{
  display: flex;

}

input, button
{
  appearance: none;
  border: none;
  outline: none;
  background: none;

}

#todo-input
{
  flex: 1 1 0%;
  background-color: var(--darker);
  padding: 0.9rem;
  border-radius: 2rem;
  color: var(--light);
  font-size: 1.15rem;
}

#todo-input::placeholder
{
  color: var(--light);
  font-weight: 250;
  opacity: 75%;
}

#new-todo-submission
{
  color: var(--light);
  font-size: 1.15rem;
  font-weight: 800;
  cursor: pointer;
  transition: 0.4s;
}

#new-todo-submission:hover 
{
  opacity: 0.8;
  transform: scale(1.10);
}

#new-todo-submission:active
{
  opacity: 0.6;
  transform: scale(0.95);
}

main
{
  flex: 1 1 0%;
  text-align: center;
  /*background-color: green;*/
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

/*Task Title*/
.todo-list
{
  padding: 1rem;
}

.todo-list h2
{
  font-size: 2.5rem;
  font-weight:300;
  margin-bottom: 1rem;
}

/*Tasks*/
#tasks .task
{
  display: flex;
  justify-content: space-between;
  background-color: var(--darkest);
  padding: 1rem;
  margin-bottom: 1rem;
}

.content input
{
  color: var(--light);
  font-size: 1.2rem;
}

/*.todoText input:not(:read-only)
{
  color: var(--pink);
  transform: scale(1.05);
}*/


/*Edit and Delete/Done Buttons*/
#tasks .task .actions
{
  display: flex;
  margin: 0 -0.5rem;
}

.task .actions button
{
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  transition: 0.4s;
}

/*Edit Button Style*/
.task .actions .edit
{
  color: var(--light);
  background-color: var(--gray); 
  padding: 0.5rem;
  border-radius: 1.2rem;
}

.task .actions .edit:hover 
{
  transform: scale(1.10);
}

.task .actions .edit:active
{
  transform: scale(0.95);
}

/*Delete button style*/
.task .actions .delete
{
  color: var(--light);
  background-color: var(--normalRed); 
  padding: 0.2rem;
  border-radius: 1.2rem;
}

.task .actions .delete:hover 
{
  background-color: var(--brightRed);
  transform: scale(1.10);
}

.task .actions .delete:active
{
  background-color: var(--darkRed);
  transform: scale(0.95);
}

/*Screen reader text utility class*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
