/*CSS File*/

/*VARIABLES*/
:root
{
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --gray: #6B7280;
  --light: #EEE;
  --pink: #EC4899;
  --purple: #8B5CF6;
}

/*Style*/
*{
  box-sizing: border-box;
  margin: 0;
  font-family:'Segoe UI';
}

body{
  display:flex;
  flex-direction: column;
  background: var(--dark);
  color: #FFF;
}

header
{
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  background-color: red;
}

header h1 
{
  font-size: 3rem;
  font-weight:300;
  margin-bottom: 1rem;
}

#add-list-item
{
  display: flex;

}

input, button
{
  appearance: none;
  border: none;
  outline: none;
  background: none;

}

#todo-input
{
  flex: 1 1 0%;
  background-color: var(--darker);
  padding: 0.9rem;
  border-radius: 2rem;
  color: var(--light);
  font-size: 1.15rem;
}

#todo-input::placeholder
{
  color: var(--light);
  font-weight: 250;
}

#new-todo-submission
{
  color: var(--darker);
  font-size: 1.15rem;
  font-weight: 800;
  cursor: pointer;
  transition: 0.4s;
}

#new-todo-submission:hover 
{
  opacity: 0.8;  
}

#new-todo-submission:active
{
  opacity: 0.6;
}

main
{
  flex: 1 1 0%;
  justify-content: center;
  background-color: green;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.todo-list
{
  padding: 1rem;
}

.todo-list h2
{
  font-size: 2.5rem;
  font-weight:300;
  margin-bottom: 1rem;
}

#tasks.task
{
  display: flex;
  justify-content: space-between;
  background-color: var(--darkest);
  border-radius: 2rem;
}

/*Screen reader text utility class*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
